<% if notice %>
  <div id="notice" class="callout primary">
    <%= notice %>
  </div>
<% end %>

<h1>Incidents</h1>

<div class='row'>
  <%= link_to 'New Incident', new_incident_path, class: 'button success small-12 columns'  %>
</div>

<div class='row'>
  <ul class='listings'>
    <%= render @incidents %>
  </ul>
</div>
