<div class='row'>
  <% if notice %>
    <div id="notice" class="callout primary">
      <%= notice %>
    </div>
  <% end %>

  <h1>Incidents</h1>
</div>

<%= render template: 'incidents/_stats', locals: { stats: @stats } %>

<div>
  <%= link_to 'New Incident', new_incident_path, class: 'button success small-12 columns'  %>
</div>

<div>
  <ul class='incidents'>
    <%= render @incidents %>
  </ul>
</div>
